/* Figma variables: https://www.figma.com/plugin-docs/css-variables/ */

@use "./_variables" as *;
@use "./_reset";

body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  margin: 4vw;
}

/* Add your styles here */
