:root {
  font-size: 16px;
  --system-ui: "Inter", system-ui, sans-serif;
  --background: oklch(100% 0 0);
  --text: oklch(25.2% 0 0);
  --accent: oklch(59.23% .2221 261.8);
  --border: oklch(89.75% 0 0);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  font-style: normal;
  margin: 6vw;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

input[type="number"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.063rem solid var(--border);
  border-radius: 0.25rem;
  outline: none;
}

input[type="number"]:focus,
select:focus {
  border-color: var(--accent);
}

input[type="color"] {
  width: 100%;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

input[type="color"]:focus {
  border-color: var(--accent);
}

button {
  background: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}
